<div>
   <!-- ======= Header ======= -->
   <app-navbar></app-navbar>
   <!-- End Header -->
   <div class="container">
       <div class="row">
           <div class="col-md-12">
            <img src="../../../../assets/img/verifyEmail.png" class="emailVerify"/>
           </div>
       </div>
   </div> 
   <p class="confirm">Confirm your email !</p>
   <p class="text-message">Your account has been successfully registred . To complete the process please check your email for a validation request</p>
</div>