<div>

    <!-- ======= Header ======= -->
    <app-navbar></app-navbar>
    <!-- End Header -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container mt-5">
                <h2>Course Details</h2>
                <p>description de la course </p>
            </div>
        </div>
        <!-- End Breadcrumbs -->
        
        <!-- ======= Cource Details Section ======= -->
        <section id="course-details" class="course-details">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-8">
                        <img src="{{course.image}}" class="img-fluid" alt="">

                        <h3>{{course.name}}</h3>
                        <p>
                            long course description
                        </p>
                    </div>
                    <div class="col-lg-4">

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Trainer</h5>
                            <p><a href="#">{{course.teacher}}</a></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Course Fee</h5>
                            <p>{{course.price}}</p>
                        </div>

                        <div>
                            <button mat-raised-button color="warn">Get Course</button>
                        </div>

                

                    </div>
                </div>

            </div>
        </section>
        <!-- End Cource Details Section -->

    </main>
    <!-- End #main -->


    <!-- ======= Footer ======= -->
    <app-footer></app-footer>
    <!-- End Footer -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</div>