<div class="body">
    <!-- partial:index.partial.html -->

    <app-spinner></app-spinner>

    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>

            <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">email</label>
                        <input id="user" formControlName="email" type="text" class="input">
                        <div *ngIf="email?.touched && email?.invalid">
                            <small *ngIf="email?.errors?.required" class="text-danger">Email is required<br></small>
                            <small *ngIf="email?.errors?.email" class="text-danger">Invalid Email<br></small>
                        </div>
                    </div>
                    <label for="role" id="role" class="label">Role : </label>
                    <select formControlName="role" style="margin-bottom: 10px;" class="custom-select">                                      
       <option value="student" selected>student</option>
       <option value="teacher">teacher</option>
       <div *ngIf="role?.touched && role?.invalid">
        <small *ngIf="role?.errors?.required" class="text-danger">role is required<br></small>
    </div>
     </select>
                    <div class="group">
                        <input type="submit" [disabled]="loginForm.invalid" class="button" value="Forget Password">
                    </div>
                    <div class="hr"></div>
                    <div *ngIf="showSuccMessage" class="alert alert-success" role="alert">
                        {{messageSucc}}
                    </div>
                      <div *ngIf="showErrMessage" class="alert alert-danger" role="alert">
                        {{messageErr}}
                      </div>
                </div>

            </form>

        </div>

    </div>
    <!-- partial -->

    <div>
