<div>

    <!-- ======= Header ======= -->
    <app-navbar></app-navbar>
    <!-- End Header -->

    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container mt-5">
                <h2>Trainers</h2>
                <p>description trainers </p>
            </div>
        </div>
        <!-- End Breadcrumbs -->

        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    <div *ngFor="let teacher of Teachers" class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <img src="{{teacher.avatar}}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>{{teacher.name}}</h4>
                            
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        <!-- End Trainers Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <app-footer></app-footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</div>