<div class="body">
    <!-- partial:index.partial.html -->

    <app-spinner></app-spinner>

    <div class="login-wrap">
        <div class="login-html" >
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label  for="tab-1" class="tab">Reset Password</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"></label>

            <form [formGroup]="loginForm"  (ngSubmit)="login()"  class="login-form">
                <div class="sign-in-htm">
		<div class="group"  *ngIf="!showSuccMessage">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" formControlName="password" class="input" data-type="password">
                        <div *ngIf="password?.touched && password?.invalid">
                            <small *ngIf="password?.errors?.required" class="text-danger">Password is required<br></small>
                            <small *ngIf="password?.errors?.minlength" class="text-danger">password must contain 6 characters at least</small>
                        </div>
                    </div>
                    <div class="group" *ngIf="!showSuccMessage">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" formControlName="repassword" class="input" data-type="password">
                        <div *ngIf="repassword?.touched && repassword?.invalid">
                            <small *ngIf="repassword?.errors?.required" class="text-danger">Repeat Password is required<br></small>
                        </div>
                    </div>
                    <div class="group" *ngIf="!showSuccMessage">
                        <input type="submit"  [disabled]="loginForm.invalid" class="button" value="Reset Password">
                    </div>
                    <div class="hr"></div>
                    <div *ngIf="showSuccMessage" class="alert alert-success" role="alert">
                        {{messageSucc}}
                    </div>
                    <form [formGroup]="loginForm"  *ngIf="showSuccMessage" (ngSubmit)="Navigate()"  class="login-form">
                        <div  class="group">
                          <input type="submit" class="button" value="Sign In">
                      </div>
                  </form>
                      <div *ngIf="showErrMessage" class="alert alert-danger" role="alert">
                        {{messageErr}}
                      </div>
                  
                </div>

            </form>

        </div>

    </div>
    <!-- partial -->

    <div>
